* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {background: #ebebeb;
width: 100%;
height: 100%;}

.head-txt {
 position: fixed;
 background-color: white;
 height: 100%;
 transform: translate("-100%");
 transition: all 1s linear ;
 color: black;
}
.logo  { padding-left: 40px;}

.click {
  width: 10px;
  height: 10px;
  border: none;
  background: none;
  padding-top: 15px;
}
.click img{  width: 20px;
  height: 20px;}
.dashbord {
  line-height: 40px;
  font-size: 24px;
  padding-left: 52px;
}
.dashbord li {
  list-style-type: none;

  
}
.humbergur svg {
  width: 30px;
  height: 30px;
  position: fixed;
  top: 0;right:0 ;
  margin: 15px;
}
