* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #ebebeb;
  width: 100%;
  height: 100%;
}

.head-txt {
  position: fixed;
  background-color: white;
  height: 100%;
  transform: translate(-100%);
  transition: all 0.5s linear;
  color: black;

}
.logo {
  padding-left: 40px;
}

.click {
  width: 10px;
  height: 10px;
  border: none;
  background: none;
  padding-top: 15px;
  position: absolute;
  right: 25px;
  top: 12px;
}
.click svg {
  width: 20px;
  height: 20px;
}
.click svg :hover {
  fill: black;
  cursor: pointer;
}
.dashbord {
  line-height: 40px;
  font-size: 24px;
}
.dashbord li {
  list-style-type: none;
  padding: 20px;
  cursor: pointer;
  color: grey;
}
.dashbord li:hover {
  padding-left: 10px;
  background-color: #f8a5a5;
  transition: all 0.5s ease;
}
.humbergur svg {
  width: 30px;
  height: 30px;
  position: fixed;
  top: 0;
  right: 0;
  margin: 15px;
}
.humbergur svg :hover {
  fill: black;
  cursor: pointer;
}
.show_sidebar { 
 transform: translate(1%);
  transition: all 0.6s ease-in-out;
}